
<body class="mt-5 mb-5">
  <div class="content-inner row">
    <div  class="col-md-3 sidebar-container mr-0 pr-0">
        <app-sidebar></app-sidebar>
    </div>
    <div class="card text-dark mb-3 col-md-9 mx-0 px-0 form-check">
        <div class="card-header d-flex align-content-center"  style="background-color:#02a388">
              <h1 class="text-light card-text">Thay đổi mật khẩu</h1>
        </div>
        <div class="card-body">
          <form [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
            <div class="form-group row mb-3">
                <label for="staticEmail" class="col-sm-3 col-form-label ">Thẻ thành viên</label>
                <div class="col-sm-9">
                  <div class="form-control no-edit">
                    <p>{{memberCode}}</p>
                  </div>
                </div>
              </div>
                <div class="form-group row mb-3">
                      <label for="staticEmail" class="col-sm-3 col-form-label ">Tên tài khoản</label>
                      <div class="col-sm-9">
                        <div class="form-control no-edit">
                          <p>{{username}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-3" >
                      <label for="inputPassword" class="col-md-3 col-form-label required">Mật khẩu cũ</label>
                      <div class="col-md-9 d-flex">
                        <input [type]="textType===true ? 'text' : 'password'" class="form-control" width="auto" formControlName="oldPassword">
                        <i [class]="textType===true ? showPass : hidePass" class="icon" (click)="toggleShowHide()"></i>
                      </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="inputPassword" class="col-sm-3 col-form-label required">Mật khẩu mới</label>
                        <div class="col-sm-9 d-flex">
                          <input [type]="textType===true ? 'text' : 'password'" class="form-control" formControlName="newPassword">
                          <i [class]="textType===true ? showPass : hidePass" class="icon" (click)="toggleShowHide()"></i>
                        </div>
                      </div>
                    <div class="form-group row mb-3">
                      <label for="inputPassword" class="col-sm-3 col-form-label required">Xác nhận mật khẩu</label>
                      <div class="col-sm-9 d-flex">
                        <input [type]="textType===true ? 'text' : 'password'" type="password" class="form-control" formControlName="confirmPassword">
                        <i [class]="textType===true ? showPass : hidePass" class="icon" (click)="toggleShowHide()"></i>
                      </div>
                    </div>
                    <div class="form-group row mt-4 d-flex justify-content-center">
                        <button class="btn btn-outline-success mr-3  btn-submit btn-progress btn-progress-sm ">Xác nhận</button>
                        <button class="btn btn-outline-primary btn-cancel btn-progress btn-progress-sm ">Quay lại</button>
                    </div>
          </form>

        </div>
      </div>
</div>
</body>

