<section class="page_404">
	<div class="container">
		<div class="row">
		<div class="col-sm-12 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">404</h1>


		</div>

		<div class="contant_box_404">
		<h3 class="h2">
		Đường link bạn nhập không tồn tại
		</h3>

		<p>Trang hiện tại bạn yêu cầu không khả dụng!</p>

		<a routerLink='/' class="link_404">Về lại trang chủ</a>
    <!-- <button (click)="checkLogin()" class="link_404">Về lại trang chủ</button> -->
	</div>
		</div>
		</div>
	</div>
</section>
