<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 font-weight-bold">Tạo suất chiếu</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card shadow mb-4">
        <div class="card-header card-background-color ">
<!--          <h3 class="m-0 font-weight-bold text-primary">Tạo mới phim</h3>-->
        </div>
        <div class="row">
          <div class="col-md-12 mr-auto ml-auto">
            <div class="card-user">
              <div class="card-body">
                <div class="col-md-6 mr-auto ml-auto">
                  <form [formGroup]="createForm" (ngSubmit)="onSubmit() ">
                      <div class="form-group">
                        <label class="required">Phim</label>
                        <select class="form-control" id="nameFilm" formControlName="filmId" (change)="selectFilm($event)">
                          <option selected disabled value="-Chọn-">-Chọn-</option>
                          <ng-container *ngIf="films != null">
                            <ng-container *ngFor="let film of films">
                              <option value="{{film.id}}"> {{film.name}}</option>
                            </ng-container>
                          </ng-container>
                        </select>
                        <ng-container *ngFor="let validation of validationMessage.filmId">
                          <small class="form-text text-danger"
                                 *ngIf="createForm.get('filmId').hasError(validation.type)&& createForm.get('filmId').touched">
                            {{validation.message}}
                          </small>
                        </ng-container>
                      </div>
                      <div class="form-group">
                        <label class="required">Ngày: </label>
                        <input type="date" class="form-control" formControlName="day">
                        <ng-container *ngFor="let validation of validationMessage.day">
                          <small class="form-text text-danger"
                                 *ngIf="createForm.get('day').hasError(validation.type)&& createForm.get('day').touched">
                            {{validation.message}}
                          </small>
                        </ng-container>
                      </div>
                      <div class="form-group">
                        <label class="required">Tên Phòng</label>
                        <select class="form-control" id="cinemaRoom" formControlName="cinemaRoomId"
                                (change)="getRoom()">
                          <option selected disabled value="-Chọn-">-Chọn-</option>
                          <ng-container *ngIf="cinemaRooms != null">
                            <ng-container *ngFor="let cinemaRoom of cinemaRooms">
                              <option value="{{cinemaRoom.id}}"> {{cinemaRoom.name}}</option>
                            </ng-container>
                          </ng-container>
                        </select>
                        <ng-container *ngFor="let validation of validationMessage.cinemaRoomId">
                          <small class="form-text text-danger"
                                 *ngIf="createForm.get('cinemaRoomId').hasError(validation.type)&& createForm.get('cinemaRoomId').touched">
                            {{validation.message}}
                          </small>
                        </ng-container>
                      </div>
                      <div class="form-group">
                        <label class="required">Công nghệ</label>
                        <select class="form-control" id="filmTechnology" formControlName="filmTechnology">
                          <option selected disabled value="-Chọn-">-Chọn-</option>
                          <option>2D</option>
                          <option>3D</option>
                        </select>
                        <ng-container *ngFor="let validation of validationMessage.filmTechnology">
                          <small class="form-text text-danger"
                                 *ngIf="createForm.get('filmTechnology').hasError(validation.type)&& createForm.get('filmTechnology').touched">
                            {{validation.message}}
                          </small>
                        </ng-container>
                      </div>
                      <div class="form-group">
                        <label class="required">Ngôn ngữ</label>
                        <select class="form-control" id="subTitle" formControlName="subTitle">
                          <option selected disabled value="-Chọn-">-Chọn-</option>
                          <option>Phụ đề</option>
                          <option>Lồng tiếng</option>
                        </select>
                        <ng-container *ngFor="let validation of validationMessage.subTitle">
                          <small class="form-text text-danger"
                                 *ngIf="createForm.get('subTitle').hasError(validation.type)&& createForm.get('subTitle').touched">
                            {{validation.message}}
                          </small>
                        </ng-container>
                      </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="required">Giờ chiếu </label>
                        <ul class="col-md-12 ks-cboxtags d-flex flex-wrap justify-content-start m-0 p-0 ml-1">

                          <ng-container *ngFor="let time of timeArr">
                            <li class="mr-2">
                              <input type="checkbox" id="{{time}}" (change)="getTime(time)">
                              <label for="{{time}}">{{time.slice(0, 5)}}</label>
                            </li>
                          </ng-container>
                        </ul>
                          <div class="form-text text-danger"
                               *ngIf="errorMessage != ''">
                            {{errorMessage}}
                          </div>
                      </div>
                    </div>
                    <div class="col-md-8 seat-layout d-flex flex-row justify-content-center ml-auto mr-auto mt-2 ">
                      <button class="btn btn-primary mr-1" routerLink="/admin/film"> Quay lại</button>
                      <button type="submit" class="btn btn-success" [disabled]="createForm.invalid"> Tạo mới</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
