<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 font-weight-bold">Tạo suất chiếu</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card shadow mb-4">
        <div class="card-header card-background-color ">
          <h3 class="m-0 font-weight-bold text-primary">Tạo mới phim</h3>
        </div>
        <div class="row">

          <div class="col-md-12 mr-auto ml-auto">
            <div class="card-user">
              <div class="card-body">
                <form [formGroup]="createForm" (ngSubmit)="onSubmit() ">
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label class="required">Phim</label>
                      <select class="form-control" id="nameFilm" formControlName="Film">
                        <option selected disabled value="-Chọn-">-Chọn-</option>
                        <option>phim hoạt hình</option>
                        <option>phim hành động</option>
                      </select>
                      <ng-container *ngIf="films != null">
                        <ng-container *ngFor="let film of films">
                          <option value="{{film.id}}"> {{film.name}}</option>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label class="required">ngày: </label>
                      <input type="date" class="form-control" formControlName="Day">
                    </div>
                  </div>
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label class="required">Tên Phòng</label>
                      <select class="form-control" id="cinemaRoom" formControlName="cinemaRoom">
                        <option selected disabled value="-Chọn-">-Chọn-</option>
                        <option>PC01</option>
                        <option>PC02</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label class="required">Công nghệ</label>
                      <select class="form-control" id="filmTechnology" formControlName="filmTechnology">
                        <option selected disabled value="-Chọn-">-Chọn-</option>
                        <option>2D</option>
                        <option>3D</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="required">Giờ chiếu </label>
                        <ul class="ks-cboxtags d-flex flex-wrap justify-content-start m-0 p-0 ml-1  ">
                          <li>
                            <input type="checkbox" id="checkboxOne" value="Order one">
                            <label for="checkboxOne">11:00:00</label>
                          </li>
                          <li>
                            <input type="checkbox" id="checkbox2" value="Order one">
                            <label for="checkbox2">13:00:00</label>
                          </li>
                          <li>
                            <input type="checkbox" id="checkbox3" value="Order one">
                            <label for="checkbox3">15:00:00</label>
                          </li>
                          <li>
                            <input type="checkbox" id="checkbox4" value="Order one">
                            <label for="checkbox4">17:00:00</label>
                          </li>
                          <li>
                            <input type="checkbox" id="checkbox5" value="Order one">
                            <label for="checkbox5">19:00:00</label>
                          </li>
                          <li>
                            <input type="checkbox" id="checkbox6" value="Order one">
                            <label for="checkbox6">21:00:00</label>
                          </li>
                          <li>
                            <input type="checkbox" id="checkbox7" value="Order one">
                            <label for="checkbox7">23:00:00</label>
                          </li>
                        </ul>
                    </div>
                  </div>
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label class="required">Ngôn ngữ</label>
                      <select class="form-control" id="subTitle" formControlName="subTitle">
                        <option selected disabled value="-Chọn-">-Chọn-</option>
                        <option>VietSub</option>
                        <option>Lồng tiếng</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-8 seat-layout d-flex flex-row justify-content-center ml-auto mr-auto mt-2 ">
                    <button class="btn btn-primary mr-1" routerLink="/admin/film/list"> Quay lại</button>
                    <button type="submit" class="btn btn-success"> Tạo mới</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--      <p>{{filmForm.value | json}}</p>-->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
