
<div class="content-inner row form-sigin">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
          <div class="card-body">
            <div class="row d-flex justify-content-center">
              <h5 class="card-title font-weight-bold">Quên mật khẩu</h5>
            </div>
              <div class="form-signin form-group">
                  <div class="form-label-group text-left"  *ngIf="!isShowOtp">
                    <p class="font-weight-bold required mx-0 px-0">Vui lòng nhập tên tài khoản bạn muốn lấy lại mật khẩu:</p>
                    <input type="text" class="form-control" placeholder="Tên đăng nhập" autofocus [(ngModel)]="username"> <label for="inputEmail"></label>
                    <div *ngIf="error">
                      <small class="form-text text-danger">
                        {{error.nonExistUsername}}
                 </small>
                    </div>
                    <div class="btn btn-lg btn-success btn-block text-uppercase mt-3" (click)="onSendSubmit(username)"> Lấy lại mật khẩu</div>
                  </div>
              </div>

              <div class="form-signin form-group" *ngIf="isShowOtp">
                <div class="form-label-group">
                  <p class="font-weight-bold required mx-0 px-0">Vui lòng nhập mã otp vừa gửi tới email của bạn:</p>
                  <input type="text" class="form-control" placeholder="Mã OTP" autofocus [(ngModel)]="otp"> <label for="inputEmail"></label>
                  <div *ngIf="count < 4">
                    <small class="form-text text-danger">
                      {{errorOTP}}
               </small>
                  </div>
                  <div class="btn btn-lg btn-primary btn-block text-uppercase mt-3" (click)="onSendChangePW()"> Xác nhận</div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
<ng-template #loading>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <mat-spinner></mat-spinner>
  </div>

</ng-template>
<ng-template #resetPassword>
  <div class="card text-dark card-custom">
    <div class="card-body">
      <h2 class="card-title text-lg-center">Thay đổi mật khẩu thành công</h2>
      <p class="card-text">Tài khoản của bạn đã được reset mật khẩu thành công.Mật khẩu mới là <span class="font-weight-bold">12345678</span>.Vui lòng đăng nhập để đổi mật khẩu</p>
      <div class="flex-row d-flex justify-content-center">
        <div class="btn btn-primary mt-3" (click)="onSignin()" >Đăng nhập</div>
      </div>
    </div>
  </div>
</ng-template>



