
<div class="content-inner row form-sigin">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
          <div class="card-body">
              <h5 class="card-title text-center font-weight-bold">Quên mật khẩu</h5>
              <div class="form-signin form-group">
                  <div class="form-label-group"  *ngIf="!isShowOtp">
                    <p class="font-weight-bold required">Vui lòng nhập tên tài khoản bạn muốn lấy lại mật khẩu:</p>
                    <input type="text" class="form-control" placeholder="Tên đăng nhập" autofocus [(ngModel)]="username"> <label for="inputEmail"></label>
                    <div *ngIf="error">
                      <small class="form-text text-danger">
                        {{error.nonExistUsername}}
                 </small>
                    </div>
                    <div class="btn btn-lg btn-success btn-block text-uppercase mt-3" (click)="onSendSubmit(username)"><span class="fa fa-google mr-2"></span> Lấy lại mật khẩu</div>
                  </div>
              </div>
              <div class="form-signin form-group" *ngIf="isShowOtp">
                <div class="form-label-group">
                  <p class="font-weight-bold required">Vui lòng nhập mã otp vừa gửi tới email của bạn:</p>
                  <input type="text" class="form-control" placeholder="Mã OTP" autofocus [(ngModel)]="otp"> <label for="inputEmail"></label>
                  <div *ngIf="count < 4">
                    <small class="form-text text-danger">
                      {{errorOTP}}
               </small>
                  </div>
                  <div class="btn btn-lg btn-primary btn-block text-uppercase mt-3" (click)="onSendChangePW()"><span class="fa fa-google mr-2"></span> Xác nhận</div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>


