<div class="container-fluid">
  <!--  header-->
  <div>
    <h3 class="agile_w3_title">TOP<span>MOVIES</span></h3>
    <div class="top-movie">
      <div class="list-top-film col-md-10 d-flex justify-content-start flex-wrap">
        <div class="col-md-3 col-lg-3 col-sm-6 p-3">
          <div class="card border-0">
            <img class="card-img-top"
                 src="https://files.betacorp.vn/files/media%2fimages%2f2021%2f05%2f19%2fthe%2Dsuicide%2Dsquad%2D173138%2D190521%2D11.jpg"
                 alt="...">
            <div class="overlay"></div>
            <div class="button-overlay d-flex flex-row">
              <a class="btn-sm mr-2" href="#"> Đặt vé </a>
              <a class="btn-sm" href="#"> Chi tiết </a>
              <div class="button-play-video">
                <i class="fas fa-play"></i>
              </div>
            </div>
            <div class="card-body">
              <div class="card-title info-header">
                <a href="#"><h3>Chìa khóa trăm tỉ</h3></a>
              </div>
              <div class="card-text info-detail">
                <ul>
                  <li><span>Thể loại:</span> Hành động</li>
                  <li><span>Thời Lượng:</span> 120 phút</li>
                  <li><span>Ngày khởi chiếu:</span> 30/07/2021</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  banner-->
  <div>
    <div class="banner-film"><img src="./src/assets/images/banner2.jpg" alt="banner"></div>
  </div>
  <!--  list-film-->
  <div class="main-list-film">
    <div class="nav-herder d-flex justify-content-center flex-wrap">
      <span><a href="#">Phim Đang Chiếu</a></span>
      <span><a href="#">Phim Sắp Chiếu</a></span>
    </div>
    <div id="wrap">
      <form action="" autocomplete="on">
        <input id="search" name="search" type="text" placeholder="Nhập để tìm kiếm">
        <span class="material-icons material-icons-outlined search_submit">search</span>
      </form>
    </div>
    <div class="col-md-10 d-flex justify-content-start flex-wrap mr-auto ml-auto">
      <div class="col-md-3 col-lg-3 col-sm-6 p-3">
        <div class="card border-0">
          <img class="card-img-top"
               src="https://files.betacorp.vn/files/media%2fimages%2f2021%2f05%2f19%2fthe%2Dsuicide%2Dsquad%2D173138%2D190521%2D11.jpg"
               alt="...">
          <div class="overlay"></div>
          <div class="button-overlay d-flex flex-row">
            <a class="btn-sm mr-2" href="#"> Đặt vé </a>
            <a class="btn-sm" href="#"> Chi tiết </a>
            <div class="button-play-video">
              <a href="" class="border-0"><span class="material-icons">play_arrow</span></a>
            </div>
          </div>
          <div class="card-body">
            <div class="card-title info-header">
              <a href="#"><h3>Chìa khóa trăm tỉ</h3></a>
            </div>
            <div class="card-text info-detail">
              <ul>
                <li><span>Thể loại:</span> Hành động</li>
                <li><span>Thời Lượng:</span> 120 phút</li>
                <li><span>Ngày khởi chiếu:</span> 30/07/2021</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    <div class="col-md-12">-->
    <!--      <div class=" d-flex justify-content-start flex-wrap list-film">-->
    <!--        <div class="col-lg-3 col-md-6 col-sm-12 card">-->
    <!--          <div class=" card-img-top">-->
    <!--            <img src="https://files.betacorp.vn/files/media%2fimages%2f2021%2f05%2f19%2fthe%2Dsuicide%2Dsquad%2D173138%2D190521%2D11.jpg"-->
    <!--              class="card-overlay" alt="...">-->
    <!--            <div class="overlay col-md-12"></div>-->
    <!--            <div class="button-overlay d-flex flex-row">-->
    <!--              <a class="btn-sm" href="#"> Đặt vé </a>-->
    <!--              <a class="btn-sm" href="#"> Chi tiết </a>-->
    <!--            </div>-->
    <!--            <div class="button-play-video">-->
    <!--              <a class="material-icons-outlined icons-play"></a>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="information card-body">-->
    <!--            <div class="info-header">-->
    <!--
             </div>-->
    <!--            <div class="info-detail">-->
    <!--              <ul>-->
    <!--                <li><span>Thể loại:</span> Hành động</li>-->
    <!--                <li><span>Thời Lượng:</span> 120 phút</li>-->
    <!--                <li><span>Ngày khởi chiếu:</span> 30/07/2021</li>-->
    <!--              </ul>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
  <!--    promote-->
  <h3 class="agile_w3_title promote-header">KHUYẾN<span>MÃI</span> & ƯU<span>ĐÃI</span></h3>
  <div class="promote">
    <div>
      <span><img src="./src/assets/images/promote1.png" alt="asd" class="promote-main"></span>
    </div>
    <div class="list-promote">
                <span>
                    <a href=""><img src="./src/assets/images/promote2.jpg" alt=""></a>
                </span>
      <span><a href=""><img src="./src/assets/images/promote3.jpg" alt=""></a></span>
      <span><a href=""><img src="./src/assets/images/promote4.jpg" alt=""></a></span>
      <span><a href=""><img src="./src/assets/images/promote5.jpg" alt=""></a></span>
      <span><a href=""><img src="./src/assets/images/promote6.jpg" alt=""></a></span>
    </div>
  </div>
</div>
