
::ng-deep.mat-dialog-container{
  background-color: white;
  padding: 0 !important;
  margin: 0 !important;
}
.custom-dialog-container  {
  background-color: #0a346d !important;
}
.card-custom{
  margin: 0;
}
