
<body>
  <div class="contact">
    <div class="footer-w3lagile-inner">
        <h2 class="company-name">CÔNG TY CỔ PHẦN THẾ GIỚI PHIM</h2>
        <h4 class="company-info">Địa chỉ: 295 Nguyễn Tất Thành, Quận Thanh Khê, TP Đà Nẵng</h4>
        <h4 class="company-info">SĐT: 0236.123.456</h4>
        <div>
            <ul class="bottom-links-agile">
                <li>
                    <a href="#">GIỚI THIỆU</a>
                </li>
                <li>
                    <a href="#">HỖ TRỢ</a>
                </li>
                <li>
                    <a href="#">LIÊN HỆ</a>
                </li>
            </ul>
        </div>
        <h3 class="text-center follow">LIÊN HỆ VỚI CHÚNG TÔI</h3>
        <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div>
  </div>
  </body>

