<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 font-weight-bold text-dark">Phim</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card shadow mb-4">
        <div class="card-header py-3" style="display: flex">
          <h3 class="m-0 font-weight-bold text-dark">Danh sách phim</h3>
          <button type="submit" class="btn btn-success" style="position:absolute;left: 18%"> Tạo mới phim</button>
          <form class="form-inline" style="position:absolute;right: 2%">
            <input class="form-control mr-sm-10" type="search" placeholder="Nhập hãng phim" aria-label="Search">
            <input class="form-control mr-sm-10" type="search" placeholder="Nhập tên phim" aria-label="Search">
            <button class="btn btn-secondary my-sm-0 ml-1" type="submit">Tìm kiếm</button>
          </form>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>STT </th>
                <th>Tên phim </th>
                <th>Ngày khời chiếu </th>
                <th>Hãng phim</th>
                <th>Thời lượng</th>
                <th>Phiên bản</th>
                <th>Thao tác</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Stand By Me 2</td>
                <td>18/06/2020</td>
                <td>Shin-Ei Animation</td>
                <td>96 phút</td>
                <td>3D</td>
                <td>
                  <button type="submit" class="btn btn-info">Chi tiết</button>
                  <button type="submit" class="btn btn-warning"> Sửa</button>
                  <button type="submit" class="btn btn-danger"> Xoá</button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Stand By Me 2</td>
                <td>18/06/2020</td>
                <td>Shin-Ei Animation</td>
                <td>96 phút</td>
                <td>3D</td>
                <td>
                  <button type="submit" class="mr-1 btn btn-info">Chi tiết</button>
                  <button type="submit" class="mr-1 btn btn-warning"> Sửa</button>
                  <button type="submit" class="btn btn-danger"> Xoá</button>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Stand By Me 2</td>
                <td>18/06/2020</td>
                <td>Shin-Ei Animation</td>
                <td>96 phút</td>
                <td>3D</td>
                <td>
                  <button type="submit" class="btn btn-info">Chi tiết</button>
                  <button type="submit" class="btn btn-warning"> Sửa</button>
                  <button type="submit" class="btn btn-danger"> Xoá</button>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>Stand By Me 2</td>
                <td>18/06/2020</td>
                <td>Shin-Ei Animation</td>
                <td>96 phút</td>
                <td>3D</td>
                <td>
                  <button type="submit" class="btn btn-info">Chi tiết</button>
                  <button type="submit" class="btn btn-warning"> Sửa</button>
                  <button type="submit" class="btn btn-danger"> Xoá</button>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
